@using GeoMapping.BLL
@using GeoMapping.Models
@namespace GeoMapping.Modals
@inject GeoMappingBLL GeoAddressService

@if (LastSubmitResult != null)
{
  <h2>
    Last submit status: @LastSubmitResult
  </h2>
}


<form class="prose flex flex--column" Model="@address" @onsubmit="Submit">

    <h3>Address Details</h3>
    <input @bind-value=@address.Id class="input mb12" name="Id" autocomplete="address-line1" placeholder="Id">

    <input @bind-value=address.SiteName class="input mb12" name="Site Name" autocomplete="shipping address-line1" placeholder="Site Name">
    <input @bind-value=address.Apartment class="input mb12" name="apartment" autocomplete="shipping address-line2" placeholder="Apartment">
    <div class="flex">
        <input @bind-value=address.City class="input mb12" name="city" autocomplete="address-level2" placeholder="City">
        <input @bind-value=address.State class="input mb12 ml6" name="state" autocomplete="shipping address-level1" placeholder="State">
        <input @bind-value=address.PostalCode class="input mb12 ml6" autocomplete=" shipping postal-code" placeholder="ZIP / Postcode">
    </div>

    <div class="row">
    <div class="col-8"> </div>
    <button type="submit" class="btn btn-primary col-4">submit</button>

    </div>
</form>

@code {
    private AddressDTO address = new AddressDTO();

    [Parameter] public int Id { get; set; }

    string LastSubmitResult;

    protected override void OnInitialized()
    {


        base.OnInitialized();
    }
    void Submit()
    {
        var success = address;
        GeoAddressService.AddAddress(success);
    }

}