@page "/earth"
@page "/earth/{coordinates}"
@using GeoMapping.Services
@inject IAddressService addressService
@inject Geometry geometry



<PageTitle>3D Globe</PageTitle>
<h1>Dynamic 3D Globe for exact address</h1>
<style>
    body {
        margin: 0;
        padding: 0;
    }

    #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
    }
</style>
<div id="map"></div>

@code {
    [Parameter]
    public string coordinates { get; set; }

    [Inject] IJSRuntime JSRuntime { get; set; }
    protected override void OnAfterRender(bool firstRender)
    {
        var decimals = geometry.Getcoordinates();
        JSRuntime.InvokeVoidAsync("exampleJsFunctions.LoadGlobe",decimals);
    }
}
